$body_bg: rgba(
	$color: #160f28,
	$alpha: 0.95,
);
$tab_bg: rgba(
	$color: #201538,
	$alpha: 1,
);
$bx: 0 0 0.6vw 0.01vw rgba(0, 0, 0, 0.6);

.cWcontent {
	margin: 1vw 0 1vw 1vw;
	.arrow_r {
		max-width: 32px;
		position: absolute;
		top: 50%;
		right: 0;
		cursor: pointer;
	}

	.arrow_l {
		max-width: 32px;
		position: absolute;
		top: 50%;
		left: 12.2vw;
		transform: rotate(3.14159rad);
		cursor: pointer;
	}

	.head_page {
		display: flex;
		width: 100%;
		text-align: center;
		justify-content: space-between;
	}

	.guide_content {
		display: flex;
		.r_space {
			width: 75%;
			.line_1 {
				text-align: center;
				justify-content: space-between;
				display: flex;
			}
			.line_2 {
				text-align: center;
				justify-content: space-between;
				display: flex;
				.into_content {
					width: 27vw;
					display: flex;
					// margin-right: 33vw;
				}
				.img_panda {
					width: 300px;
					float: left;
					margin: -2vw 0 -1vw -2vw;
				}

				.img_plus {
					width: 16px;
					margin-bottom: -0.3vw;
					margin-right: 0.2vw;
				}
			}
			.line_3 {
				text-align: center;
				justify-content: space-between;
				display: flex;
			}
		}
		.l_space {
			text-align: center;
			justify-content: space-between;
			width: 25%;
			margin-top: 24.3vw;
			.img_minus {
				width: 16px;
				margin-bottom: -0.3vw;
				margin-right: 0.2vw;
			}
		}
	}
}
