.cWcontent {
	margin: 1vw 0 1vw 1vw;
	.arrow_r {
		max-width: 32px;
		position: absolute;
		top: 50%;
		right: 0;
		cursor: pointer;
	}

	.arrow_l {
		max-width: 32px;
		position: absolute;
		top: 50%;
		left: 12.2vw;
		transform: rotate(3.14159rad);
		cursor: pointer;
	}

	.head_page {
		display: flex;
		width: 100%;
		text-align: center;
		justify-content: space-between;
	}

	.guide_content {
		display: flex;
		.r_space {
			width: 73.6%;
			@media only screen and (max-width: 1440px) {
				width: 72%;
			}
			.line_1 {
				text-align: center;
				justify-content: space-between;
				display: flex;
			}
			.line_2 {
				text-align: center;
				justify-content: space-between;
				display: flex;
				.into_content {
					width: 100%;
					display: flex;
					// margin-right: 33vw;
				}
				.img_panda {
					width: 420px;
					float: left;
					// margin: -2vw 0 -1vw -2vw;
					margin: 1vw;
					@media only screen and (max-width: 1440px) {
						width: 250px;
					}
				}
			}
			.line_3 {
				text-align: center;
				justify-content: space-between;
				display: flex;
				.img_plus {
					width: 16px;
					margin-bottom: -0.3vw;
					margin-right: 0.2vw;
				}
				.img_minus {
					width: 16px;
					margin-bottom: -0.3vw;
					margin-right: 0.2vw;
				}
			}
		}
		.l_space {
			position: fixed;
			text-align: center;
			justify-content: space-between;
			width: 23%;
			bottom: 1vw;
			right: 1vw;
		}
	}
}
