$bg_gradient: linear-gradient(
	45deg,
	rgba(37, 37, 86, 1) 0%,
	rgba(37, 37, 86, 1) 60%,
	rgba(71, 55, 165, 1) 120%
);
$bx: 0px 0px 18px -10px rgb(115, 78, 255);

.tab {
	text-align: left;
	background: $bg_gradient;
	padding: 0.6vw;
	margin: 0 1vw 1vw 0;
	box-shadow: $bx;
	background: linear-gradient(
				45deg,
				rgba(37, 37, 86, .96) 0%,
				rgba(37, 37, 86, .96) 60%,
				rgba(71, 55, 165, .96) 120%
			)
			padding-box,
		linear-gradient(30deg, rgba(115, 78, 255, 0.4), transparent) border-box;
	border: 0.01vw solid transparent;
	border-radius: 8px;
}
