$body_bg: rgba(
	$color: #160f28,
	$alpha: 0.95,
);
$bx: 0 0 0.6vw 0.01vw rgba(0, 0, 0, 0.6);

.tab {
	text-align: left;
	background-color: $body_bg;
	border-radius: 8px;
	padding: 0.6vw;
	margin: 0 1vw 1vw 0;
	box-shadow: $bx;
}
