@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap')

$body_bg: #141627
$tab_bg: #1c1f37
$bx: 0 0 .78vw 0.1vw rgba(0, 0, 0, 0.6)
$bx_tab: 0 0 .6vw 0.01vw rgba(0, 0, 0, 0.6)

html,
body
  background-color: $body_bg
  padding: 0
  margin: 0
  font-family: 'Montserrat', sans-serif
  overflow: hidden

h1,
h2,
h3
  color: #d0d4e7
  text-transform: uppercase
  text-decoration: none
  font-weight: inherit
  margin: 0

h1
  font-size: 2.1vw
  font-family: MontserratBlack, sans-serif
  font-weight: 900
  padding: 0

h2
  font-size: 1.4vw
  font-family: MontserratBold, sans-serif
  font-weight: 700
  padding: 0

h3
  font-size: 1vw
  font-family: MontserratBold, sans-serif
  font-weight: 700
  padding: 0

h3 a
  font-size: 1vw
  font-family: MontserratBold, sans-serif
  font-weight: 700
  padding: 0

a
  text-decoration: none
  color: #65687e
  font-size: 0.8vw
  line-height: 1.2vw
  font-family: Montserrat, sans-serif
  font-weight: 500

p
  color: #5d607a
  font-family: Montserrat, sans-serif
  font-size: 0.8vw
  line-height: 1.2vw
  font-weight: 500
  margin: 0
  padding: 0

li
  color: #5d607a
  font-family: Montserrat, sans-serif
  font-size: 0.8vw
  line-height: 1.2vw
  font-weight: 500
  margin: 0
  padding: 0

wb
  color: #bbb192
  font-family: MontserratBold, sans-serif
  font-weight: 700

code
  font-family: Montserrat, sans-serif
  font-weight: 500
  font-size: 0.8vw
  line-height: 1.2vw

format-code
  background-color: #032121
  border: 0.1vw solid #5d607a
  padding: 0.5vw
  color: #5d607a
  font-family: Montserrat, sans-serif
  font-weight: 500
  font-size: 0.7vw
  margin: 0.5vw 0 0.5vw 0

.container
  width: 100%
  height: 100%
  display: flex
  text-align: center

  >.containerMain
    width: 10%
    height: 100vh

    @media only screen and (max-width: 1440px)
      width: 11%

    >img
      max-width: 120px
      margin: 1vw 0

      @media only screen and (max-width: 1440px)
        max-width: 80px

    >.main_ul
      text-align: left
      margin-left: 1vw
      > div
        margin-bottom: 1vw
        > a
          font-weight: 700
          font-size: 1vw
        > img
          max-width: 32px
          margin-right: 0.2vw
          margin-bottom: -.3vw
          @media only screen and (max-width: 1440px)
            max-width: 24px
    >.off_ul
      position: fixed
      bottom: 1vw
      left: 1vw
      >img
        max-width: 100px
        border-radius: 90%
        @media only screen and (max-width: 1440px)
          max-width: 70px
      >p
        font-weight: 700
      >.author_info
        text-align: left
        margin-top: .4vw
        >div
          margin-bottom: .4vw
          >a
            font-weight: 700
          >img
            max-width: 32px
            margin-right: .2vw
            margin-bottom: -.4vw
            @media only screen and (max-width: 1440px)
              max-width: 20px

  >.containerWindow
    z-index: 10
    width: 90%
    //max-height: 96.8vh
    overflow: hidden
    margin: 1vw 1vw 1vw 0
    background-color: $tab_bg
    border-radius: 16px
    box-shadow: $bx
    >.cWcontent
      margin: 1vw
      >.head_page
        display: flex
        width: 100%
        text-align: center
        justify-content: space-between
        >.block_1
          background-color: $body_bg
          border-radius: 8px
          padding: .6vw 3vw
        >.block_2
          background-color: $body_bg
          border-radius: 8px
          padding: .6vw 19.4vw
        >.block_3
          background-color: $body_bg
          border-radius: 8px
          padding: .6vw 3vw
      >.guide_content
        display: flex
        >.r_space

          //margin-top: 1vw
          width: 75%
          >.line_1
            text-align: center
            justify-content: space-between
            display: flex
            >.block_11
              width: 200%
              text-align: left
              background-color: $body_bg
              border-radius: 8px
              padding: 1vw
              box-shadow: $bx_tab
            >.block_12
              text-align: left
              background-color: $body_bg
              border-radius: 8px
              padding: 1vw
              margin: 0 1vw
              box-shadow: $bx_tab
            >.block_13
              text-align: left
              background-color: $body_bg
              border-radius: 8px
              padding: 1vw
              box-shadow: $bx_tab
          >.line_2
            text-align: center
            justify-content: space-between
            margin-top: 1vw
            display: flex
            >.block_21
              text-align: left
              background-color: $body_bg
              border-radius: 8px
              padding: 1vw
              margin: 0 .5vw 0 0
              box-shadow: $bx_tab
            >.block_22
              width: 280%
              text-align: left
              background-color: $body_bg
              border-radius: 8px
              padding: 1vw
              margin: 0 0 0 .5vw
              box-shadow: $bx_tab
          >.line_3
            text-align: center
            justify-content: space-between
            margin-top: 1vw
            display: flex
            >.block_31
              background-color: $body_bg
              border-radius: 8px
              padding: .6vw 3vw
              box-shadow: $bx_tab
            >.block_32
              background-color: $body_bg
              border-radius: 8px
              padding: .6vw 3vw
              box-shadow: $bx_tab
            >.block_33
              background-color: $body_bg
              border-radius: 8px
              padding: .6vw 3vw
              box-shadow: $bx_tab
        >.l_space
          text-align: center
          justify-content: space-between
          //margin-top: 1vw
          margin-left: 1vw
          width: 25%
          >.block_41
            text-align: left
            background-color: $body_bg
            border-radius: 8px
            padding: 1vw
            box-shadow: $bx_tab
          >.block_42
            text-align: left
            margin-top: 1vw
            background-color: $body_bg
            border-radius: 8px
            padding: 1vw
            box-shadow: $bx_tab