@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

$body_bg: rgba(
	$color: #252556,
	$alpha: 0.95,
);
$tab_bg: rgba(
	$color: #2e2c67,
	$alpha: 1,
);
$bx: 0px 0px 18px -10px rgb(115, 78, 255);

html,
body {
	background-color: $body_bg;
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	overflow: hidden;
}

h1,
h2,
h3 {
	color: #cdc5ef;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: inherit;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.1vw;
	font-family: MontserratBlack, sans-serif;
	font-weight: 900;
	padding: 0;
}

h2 {
	font-size: 1.4vw;
	font-family: MontserratBold, sans-serif;
	font-weight: 700;
	padding: 0;
}

h3 {
	font-size: 1vw;
	font-family: MontserratBold, sans-serif;
	font-weight: 700;
	padding: 0;
}

h3 a {
	font-size: 1vw;
	font-family: MontserratBold, sans-serif;
	font-weight: 700;
	padding: 0;
}

a {
	text-decoration: none;
	color: #a291e4;
	font-size: 0.8vw;
	line-height: 1.2vw;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
}

p {
	color: #cdc5ef;
	font-family: Montserrat, sans-serif;
	font-size: 0.8vw;
	line-height: 1.2vw;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

li {
	color: #5d607a;
	font-family: Montserrat, sans-serif;
	font-size: 0.8vw;
	line-height: 1.2vw;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

wb {
	color: #bbb192;
	font-family: MontserratBold, sans-serif;
	font-weight: 700;
}

red {
	color: #f23f4d;
	font-family: MontserratBold, sans-serif;
	font-weight: 700;
}

green {
	color: #00ff99;
	font-family: MontserratBold, sans-serif;
	font-weight: 700;
}

code {
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 0.8vw;
	line-height: 1.2vw;
}

format-code {
	background-color: #032121;
	border: 0.1vw solid #5d607a;
	padding: 0.5vw;
	color: #5d607a;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 0.7vw;
	margin: 0.5vw 0 0.5vw 0;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	text-align: center;
	padding: 1vw;
	.containerMain {
		width: 10vw;
		height: 100vh;
		background: radial-gradient(
			circle at 130% 50%,
			#8f31ed 5%,
			#4435a1 25%,
			#252556 45%
		);
		@media only screen and (max-width: 1440px) {
			width: 14vw;
			background: radial-gradient(circle at 100% 50%, #4435a1, #252556 50%);
		}

		.logo {
			margin-left: -1.2vw;
			> picture {
				> img {
					max-width: 200px;
					@media only screen and (max-width: 1440px) {
						max-width: 150px;
					}
				}
			}
		}
		.main_ul {
			text-align: left;
			margin-top: 0.8vw;
			@media only screen and (max-width: 1440px) {
				margin-top: 0;
			}
			> div {
				margin-bottom: 1vw;
				> a {
					font-weight: 700;
					font-size: 1vw;
				}
				> picture {
					> img {
						max-width: 32px;
						margin-right: 0.2vw;
						margin-bottom: -0.3vw;
						@media only screen and (max-width: 1440px) {
							max-width: 24px;
						}
					}
				}
			}
		}
		.off_ul {
			position: fixed;
			bottom: 1vw;
			> picture {
				> img {
					max-width: 100px;
					border-radius: 90%;
					@media only screen and (max-width: 1440px) {
						max-width: 70px;
					}
				}
			}
			> p {
				font-weight: 700;
			}
			.author_info {
				text-align: left;
				margin-top: 0.4vw;
				> div {
					margin-bottom: 0.4vw;
					> a {
						font-weight: 700;
					}
					> picture {
						> img {
							max-width: 32px;
							margin-right: 0.2vw;
							margin-bottom: -0.4vw;
							@media only screen and (max-width: 1440px) {
								max-width: 20px;
							}
						}
					}
				}
			}
		}
	}
	.containerWindow {
		background: url(../public/img/panda.png) no-repeat top right;
		background-size: 25vw;
		z-index: 10;
		height: calc(100vh - 4vh);
		width: calc(100vw - 12vw);
		//max-height: 96.8vh;
		overflow: hidden;
		background-color: linear-gradient(
			220deg,
			rgba(37, 37, 86, 1) 0%,
			rgba(37, 37, 86, 1) 60%,
			rgba(71, 55, 165, 1) 120%
		);
		border-radius: 16px;
		border: solid 0.01vw rgba(115, 78, 255, 0.4);
		box-shadow: $bx;
		justify-content: space-between;
		@media only screen and (max-width: 1440px) {
			width: calc(100vw - 16vw);
		}
	}
}
