@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
html,
body {
  background-color: #141627;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

h1,
h2,
h3 {
  color: #d0d4e7;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: inherit;
  margin: 0;
}

h1 {
  font-size: 2.1vw;
  font-family: MontserratBlack, sans-serif;
  font-weight: 900;
  padding: 0;
}

h2 {
  font-size: 1.4vw;
  font-family: MontserratBold, sans-serif;
  font-weight: 700;
  padding: 0;
}

h3 {
  font-size: 1vw;
  font-family: MontserratBold, sans-serif;
  font-weight: 700;
  padding: 0;
}

h3 a {
  font-size: 1vw;
  font-family: MontserratBold, sans-serif;
  font-weight: 700;
  padding: 0;
}

a {
  text-decoration: none;
  color: #65687e;
  font-size: 0.8vw;
  line-height: 1.2vw;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

p {
  color: #5d607a;
  font-family: Montserrat, sans-serif;
  font-size: 0.8vw;
  line-height: 1.2vw;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

li {
  color: #5d607a;
  font-family: Montserrat, sans-serif;
  font-size: 0.8vw;
  line-height: 1.2vw;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

wb {
  color: #bbb192;
  font-family: MontserratBold, sans-serif;
  font-weight: 700;
}

code {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 1.2vw;
}

format-code {
  background-color: #032121;
  border: 0.1vw solid #5d607a;
  padding: 0.5vw;
  color: #5d607a;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 0.7vw;
  margin: 0.5vw 0 0.5vw 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
}
.container > .containerMain {
  width: 10%;
  height: 100vh;
}
@media only screen and (max-width: 1440px) {
  .container > .containerMain {
    width: 11%;
  }
}
.container > .containerMain > img {
  max-width: 120px;
  margin: 1vw 0;
}
@media only screen and (max-width: 1440px) {
  .container > .containerMain > img {
    max-width: 80px;
  }
}
.container > .containerMain > .main_ul {
  text-align: left;
  margin-left: 1vw;
}
.container > .containerMain > .main_ul > div {
  margin-bottom: 1vw;
}
.container > .containerMain > .main_ul > div > a {
  font-weight: 700;
  font-size: 1vw;
}
.container > .containerMain > .main_ul > div > img {
  max-width: 32px;
  margin-right: 0.2vw;
  margin-bottom: -0.3vw;
}
@media only screen and (max-width: 1440px) {
  .container > .containerMain > .main_ul > div > img {
    max-width: 24px;
  }
}
.container > .containerMain > .off_ul {
  position: fixed;
  bottom: 1vw;
  left: 1vw;
}
.container > .containerMain > .off_ul > img {
  max-width: 100px;
  border-radius: 90%;
}
@media only screen and (max-width: 1440px) {
  .container > .containerMain > .off_ul > img {
    max-width: 70px;
  }
}
.container > .containerMain > .off_ul > p {
  font-weight: 700;
}
.container > .containerMain > .off_ul > .author_info {
  text-align: left;
  margin-top: 0.4vw;
}
.container > .containerMain > .off_ul > .author_info > div {
  margin-bottom: 0.4vw;
}
.container > .containerMain > .off_ul > .author_info > div > a {
  font-weight: 700;
}
.container > .containerMain > .off_ul > .author_info > div > img {
  max-width: 32px;
  margin-right: 0.2vw;
  margin-bottom: -0.4vw;
}
@media only screen and (max-width: 1440px) {
  .container > .containerMain > .off_ul > .author_info > div > img {
    max-width: 20px;
  }
}
.container > .containerWindow {
  z-index: 10;
  width: 90%;
  overflow: hidden;
  margin: 1vw 1vw 1vw 0;
  background-color: #1c1f37;
  border-radius: 16px;
  box-shadow: 0 0 0.6vw 0.01vw rgba(0, 0, 0, 0.6);
}
.container > .containerWindow > .cWcontent {
  margin: 1vw;
}
.container > .containerWindow > .cWcontent > .head_page {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-between;
}
.container > .containerWindow > .cWcontent > .head_page > .block_1 {
  background-color: #141627;
  border-radius: 8px;
  padding: 0.6vw 3vw;
}
.container > .containerWindow > .cWcontent > .head_page > .block_2 {
  background-color: #141627;
  border-radius: 8px;
  padding: 0.6vw 19.4vw;
}
.container > .containerWindow > .cWcontent > .head_page > .block_3 {
  background-color: #141627;
  border-radius: 8px;
  padding: 0.6vw 3vw;
}
.container > .containerWindow > .cWcontent > .guide_content {
  display: flex;
}
.container > .containerWindow > .cWcontent > .guide_content > .r_space {
  width: 75%;
}
.container > .containerWindow > .cWcontent > .guide_content > .r_space > .line_1 {
  text-align: center;
  justify-content: space-between;
  display: flex;
}
.container > .containerWindow > .cWcontent > .guide_content > .r_space > .line_1 > .block_11 {
  width: 200%;
  text-align: left;
  background-color: #141627;
  border-radius: 8px;
  padding: 1vw;
  box-shadow: 0 0 0.6vw 0.01vw rgba(0, 0, 0, 0.6);
}
.container > .containerWindow > .cWcontent > .guide_content > .r_space > .line_1 > .block_12 {
  text-align: left;
  background-color: #141627;
  border-radius: 8px;
  padding: 1vw;
  margin: 0 1vw;
  box-shadow: 0 0 0.6vw 0.01vw rgba(0, 0, 0, 0.6);
}
.container > .containerWindow > .cWcontent > .guide_content > .r_space > .line_1 > .block_13 {
  text-align: left;
  background-color: #141627;
  border-radius: 8px;
  padding: 1vw;
  box-shadow: 0 0 0.6vw 0.01vw rgba(0, 0, 0, 0.6);
}
.container > .containerWindow > .cWcontent > .guide_content > .r_space > .line_2 {
  text-align: center;
  justify-content: space-between;
  margin-top: 1vw;
  display: flex;
}
.container > .containerWindow > .cWcontent > .guide_content > .r_space > .line_2 > .block_21 {
  text-align: left;
  background-color: #141627;
  border-radius: 8px;
  padding: 1vw;
  margin: 0 0.5vw 0 0;
  box-shadow: 0 0 0.6vw 0.01vw rgba(0, 0, 0, 0.6);
}
.container > .containerWindow > .cWcontent > .guide_content > .r_space > .line_2 > .block_22 {
  width: 280%;
  text-align: left;
  background-color: #141627;
  border-radius: 8px;
  padding: 1vw;
  margin: 0 0 0 0.5vw;
  box-shadow: 0 0 0.6vw 0.01vw rgba(0, 0, 0, 0.6);
}
.container > .containerWindow > .cWcontent > .guide_content > .r_space > .line_3 {
  text-align: center;
  justify-content: space-between;
  margin-top: 1vw;
  display: flex;
}
.container > .containerWindow > .cWcontent > .guide_content > .r_space > .line_3 > .block_31 {
  text-align: left;
  background-color: #141627;
  border-radius: 8px;
  padding: 1vw;
  box-shadow: 0 0 0.6vw 0.01vw rgba(0, 0, 0, 0.6);
}
.container > .containerWindow > .cWcontent > .guide_content > .r_space > .line_3 > .block_32 {
  text-align: left;
  background-color: #141627;
  border-radius: 8px;
  padding: 1vw;
  margin: 0 1vw;
  box-shadow: 0 0 0.6vw 0.01vw rgba(0, 0, 0, 0.6);
}
.container > .containerWindow > .cWcontent > .guide_content > .r_space > .line_3 > .block_33 {
  text-align: left;
  background-color: #141627;
  border-radius: 8px;
  padding: 1vw;
  box-shadow: 0 0 0.6vw 0.01vw rgba(0, 0, 0, 0.6);
}
.container > .containerWindow > .cWcontent > .guide_content > .l_space {
  text-align: center;
  justify-content: space-between;
  margin-left: 1vw;
  width: 25%;
}
.container > .containerWindow > .cWcontent > .guide_content > .l_space > .block_41 {
  text-align: left;
  background-color: #141627;
  border-radius: 8px;
  padding: 1vw;
  box-shadow: 0 0 0.6vw 0.01vw rgba(0, 0, 0, 0.6);
}
.container > .containerWindow > .cWcontent > .guide_content > .l_space > .block_42 {
  text-align: left;
  margin-top: 1vw;
  background-color: #141627;
  border-radius: 8px;
  padding: 1vw;
  box-shadow: 0 0 0.6vw 0.01vw rgba(0, 0, 0, 0.6);
}

/*# sourceMappingURL=styles.css.map */
